/.quarto/
/_site/
*_cache/
.Rproj.user
.Rhistory
.RData
**/*.quarto_ipynb
/*_files/
# written by anim_save() but not used by the pages (they embed the copies in _freeze/)
/gapminder.gif
/eu_salary_race.gif
